.main-nav {
  background-color: #212121;
  height: 80px;
  color: white;
}

.main-nav__list {
  display: flex;
  height: 100%;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
  font-size: 22px;
}

.main-nav__list a {
  color: white;
  text-decoration: none;
}

.main-nav__list li {
  position: relative;
}
.main-nav__list li::before,
.active::before {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #03a9f4;
  transition: all 0.5s ease-in-out;
}

.main-nav__list li:hover::before,
.active::before {
  width: 100%;
}
