.admin-nav {
  background-color: #212121;

  height: 80px;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.user-info {
  float: right;
  margin: 20px 0;
  span {
    margin-right: 10px;
    text-transform: capitalize;
  }
  button {
    background-color: #03a9f4;
    border-radius: 20px;
    font-weight: 600;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
  }
  @media screen and (max-width: 35.5em) {
    span {
      display: none;
    }
    button {
      padding: 5px 7px;
    }
  }
}

.admin-nav__list {
  display: flex;
  float: left;
  height: 100%;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
  font-size: 22px;
  @media screen and (max-width: 35.5em) {
    font-size: 17px;
  }
}

.admin-nav__list li a {
  position: relative;
  color: white;
  text-decoration: none;
  &::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #03a9f4;
    transition: all 0.5s ease-in-out;
  }

  &:hover::before,
  &.active::before {
    width: 100%;
  }
}
